body {
  max-width: 100ch;
  font: 100%/1.5 system-ui;
  margin-inline: auto;
}

/* nav {
  display : flex;
} */
nav ul {
  display: flex;
}
/* nav a{
  display: flex;
  flex: 1;
} */
nav li {
  flex: 1;
}